<div class="card card-body">
    <h3>Video Idea</h3>
    <form action="/ideas" method="POST">
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" name="title" required>
    </div>
     <div class="form-group">
        <label for="details">Details</label>
        <textarea name="details" class="form-control" required></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>