<div class="row">
    <div class="col-md-6 mx-auto">
        <div class="card card-body">
            <img src="/img/logo.png" class="logo" alt="Logo">
            <h3 class="text-center">Account Register</h3>
            <form method="POST" action="/users/register">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" name="name" value="{{name}}" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" value="{{email}}" name="email" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" value="{{password}}" name="password" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="password">Confirm password</label>
                    <input type="password" value="{{password2}}" name="password2" class="form-control" required>
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
        </div>
    </div>
</div>